:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#FFFFFF;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.active-link {
  border-bottom: 2px solid black !important;
}

.navbar .navbar-nav {
  cursor: pointer !important;
}
.carousel {
  width: 100%;
  height: fit-content !important;
  border: 2px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon {
  background-image: url("../assets/left-arrow.png") !important;
}

.carousel-control-next-icon {
  background-image: url("../assets/right-arrow.png") !important;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 498px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.welcome-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  margin-bottom: 20px;
}

.hr-line-left {
  border-top: 3px solid #3D3D3D;
  height: 30px;
  width: 100%;
  align-items: start;
  opacity: 1;
  margin: 0;
}

.hr-line-right {
  border-bottom: 3px solid #3D3D3D;
  width: 100%;
    height: 35px;
  opacity: 1;
}

.welcome-box .welcome-text {
  margin: 0px 20px 0px 20px;
}

@media only screen and (max-width: 600px) {
  .welcome-box {
    display: block;
  }
  .welcome-text {
    text-align: center;
  }
}


/* login */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container .left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container .left-column .form-control {
  border-color: #3e3e3e;
  border-width: 2px;
  border-radius: 0;
}

.login-container .left-column .form-check-input {
  width: 2rem;
  height: 2rem;
  border-color: #3e3e3e;
  border-width: 2px;
}

.login-container .left-column .form-check-input:checked {
  background-color: black;
}

.login-container .left-column .form-check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-container .right-column {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}


/* conutry */
.country-card-box .card {
  display: flex !important;
  flex-direction: row !important;
  border: 2px solid #3d3d3d !important;
  width: 100%;
  height: 130px;
}
.country-card-box .card .card-body {
  margin-top: 0;
  margin-bottom: auto;
}

.card-body {
padding-top:0
}

.country-card-box img {
  width: 128px;
  height: 100%;
  object-position: center;
  object-fit: fill;
}

.view-more-button {
  background-color: #3c3c3c;
  color: #fff;
  width: 146px;
  height: 48px;
}

.slider-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row; 
  padding: 0;
}

.slider-container .slider-sum{
  order: 1;
}
.slider-container .right-div{
  order: 2;
}

.slider-sum{
  width: 80%;
}
.right-div{
  border:2px solid black;
  width: 20%;
      justify-content:center;
    align-items: center;
    display: flex;
    overflow: hidden;

}

.right-div img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slider-container {
    flex-direction: column; 
    width: 100%;
  }
}


@media(max-width:768px){
  .slider-sum{
    width:100%
  }
}

@media(max-width:768px){
  .right-div{
    width:100%;
    height:250px;    
  }

  .right-div img{
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

  .slider-container .slider-sum{
  order: 2;
}
.slider-container .right-div{
  order: 1;
}
}